<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="formContainer">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="formGroup">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="formGroup">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required
                    autocomplete="off">
            </div>
            <button type="submit" class="submitBtn">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Signup</a></p>
    </div>
</body>

</html>